.nav {
  background: #1abc9c;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.welcomeMessage {
  padding-left: 20px;
  width: 95%;
  cursor: pointer;
  text-align: center;
}
.userInitials {
  border-radius: 50%;
  padding-right: 20px;
  width: 5%;
  cursor: pointer;
  text-align: center;
}
.dot {
  height: 30px;
  width: 40px;
  background-color: wheat;
  border-radius: 50%;
  display: inline-block;
}
.sub-menu-wrap {
  position: absolute;
  top: 100%;
  right: 2%;
  width: 320px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
  z-index: 1;
}
.sub-menu-wrap.open-menu {
  max-height: 400px;
}
.sub-menu {
  background: wheat;
  padding: 20px;
  margin: 10px;
}
.sub-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
}
.user-info {
  display: flex;
  align-items: center;
}
.user-info h2 {
  font-weight: 500;
}
.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin: 12px 0;
}
.sub-menu-link p {
  width: 100%;
}
.sub-menu-link span {
  font-size: 22px;
  transition: transform 0.5s;
}
.sub-menu-link:hover span {
  transform: translateX(5px);
}
.sub-menu-link:hover p {
  font-weight: 600;
}
